<div class="card" *ngIf="allGames">
  <div>
    <h3>{{team.full_name}} [{{team.abbreviation}}] <span (click)="showRemoveModal = true">&times;</span></h3>
    <h6>{{team.conference}}ern conference</h6>
  </div>
  <hr/>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>
          Results of past
          <select #statsDaysSelect (change)="statsDaysChange(statsDaysSelect.value)">
            <option [value]="day" *ngFor="let day of statsDays">
              {{day}}
            </option>
          </select>

          days:
        </p>
        <p>
          <mark class="tag" *ngFor="let result of stats.lastGames" [class]="result">{{result}}</mark>
        </p>
        <p>Avg pts scored: <strong>{{stats.averagePointsScored}}</strong> </p>
        <p>Avg pts conceded: <strong>{{stats.averagePointsConceded}}</strong> </p>

      </div>
      <div class="col-sm-6">
        <img src="https://interstate21.com/nba-logos/{{team.abbreviation}}.png" />
      </div>
    </div>
  </div>
  <div>
    <button class="tertiary" [routerLink]="['results/', team.abbreviation, statsDaysSelect.value]">See game results >></button>
  </div>

</div>

<!-- I'm forced to use custom body and footer and not the default ones (<body> and <footer>)
  to avoid applying a default formatting CSS -->
<app-modal [showModal]="showRemoveModal">
  <ng-container body>
    <p>Are you sure you want remove this team?</p>
  </ng-container>

  <ng-container footer>
    <button type="button" (click)="closeModal()">No</button>
    <button type="button" (click)="confirmTeamRemoval(team)">Yes</button>
  </ng-container>

</app-modal>
