<div class="row" *ngIf="teamForm">
  <div class="col-sm-11" [formGroup]="teamForm">
    <select formControlName="conferenceSelect">
      <option [value]="conference.code" *ngFor="let conference of conferences">
        {{conference.description}}
      </option>
    </select>
    <select formControlName="divisionSelect" *ngIf="teamForm.get('conferenceSelect')?.value !== 'default'">
      <option [value]="division.code" *ngFor="let division of divisions">
        {{division.description}}
      </option>
    </select>
    <select formControlName="teamSelect">
      <option [value]="team.id" *ngFor="let team of filteredTeams">
        {{team.full_name}}
      </option>
    </select>
    <button class="primary" (click)="trackTeam()">Track team</button>
  </div>

</div>

<ng-container *ngIf="nbaService.getTrackedTeams()?.length > 0">

  <div class="row">
    <div class="col-sm-6">
      Results of past
      <select [(ngModel)]="allTeamsSelectedDays" (ngModelChange)="allTeamsSelectedDays$.next(allTeamsSelectedDays)">
        <option [value]="day" *ngFor="let day of statsDays">
          {{day}}
        </option>
      </select>
      days for all teams
    </div>
  </div>

  <div class="row">
    <app-team-stats class="col-sm-4" *ngFor="let team of nbaService.getTrackedTeams()"
                    [team]="team" (onTeamRemoved)="addRemovedTeam(team.id)" [selectedDays$]="allTeamsSelectedDays$">

    </app-team-stats>
  </div>
</ng-container>
