<div class="row">
  <div class="col-sm-11">
    <select #conferenceSelect (change)="filterDivisions(conferenceSelect.value)">
      <option [value]="conference.code" *ngFor="let conference of conferences">
        {{conference.description}}
      </option>
    </select>
    <select #divisionSelect (change)="filterTeams(divisionSelect.value)">
      <option [value]="division.code" *ngFor="let division of divisions">
        {{division.description}}
      </option>
    </select>
    <select #teamSelect>
      <option [value]="team.id" *ngFor="let team of filteredTeams">
        {{team.full_name}}
      </option>
    </select>
    <button class="primary" (click)="trackTeam(teamSelect.value)">Track team</button>
  </div>

</div>
<div class="row">
  <app-team-stats class="col-sm-4" *ngFor="let team of nbaService.getTrackedTeams()" [team]="team">

  </app-team-stats>
</div>
